@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom toolbar option styles */
.custom-toolbar .rdw-option-wrapper {
  color: #000;
  background-color: #E8F0FE !important;
}

/* Styling for dropdown menus */
.custom-toolbar .rdw-fontsize-wrapper,
.custom-toolbar .rdw-fontfamily-wrapper,
.custom-toolbar .rdw-block-wrapper{
  background-color: #E8F0FE !important;
}

.custom-toolbar .rdw-fontsize-dropdown,
.custom-toolbar .rdw-fontfamily-dropdown,
.custom-toolbar .rdw-block-dropdown {
  background-color: #E8F0FE !important;
  color: #000; /* Text color */
}

/* Change color when clicked */
.custom-toolbar .rdw-option-wrapper:active {
    background-color: #D3E3FD !important; 
  }

.hover-popup {
  position: absolute;
  z-index: 1000; /* Make sure it appears above other content */
  background-color: white;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  /* Adjust positioning based on your needs */
}
